name: Build & Deploy Next.js to Azure App Service

on:
  push:
    branches: ["main"]
  workflow_dispatch:

env:
  AZURE_WEBAPP_NAME: employee-directory
  NODE_VERSION: "22.x"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Build Next.js app
        env:
          NEXT_TELEMETRY_DISABLED: 1
          NODE_ENV: production
        run: npm run build

      - name: Package standalone output
        run: |

          rm -rf deploy
          mkdir deploy
          cp -r build/standalone/* deploy/
          cp -r public deploy/public
          if [ -d "public" ]; then cp -r public deploy/public; fi
          cd deploy && zip -r ../release.zip .

        #  rm -rf deploy
        #   mkdir -p deploy/.next/static
        #   cp -r .next/standalone/* deploy/
        #   cp -r .next/static deploy/.next/static

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: nextjs-release
          path: release.zip

  deploy:
    runs-on: ubuntu-latest
    needs: build

    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: nextjs-release
          path: .

      - name: Azure login (OIDC)
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: ${{ env.AZURE_WEBAPP_NAME }}
          package: release.zip
